<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>592394543548-bfde2rkvqkbu71noa9l1nqghphks2cj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592394543548-bfde2rkvqkbu71noa9l1nqghphks2cj0</string>
	<key>API_KEY</key>
	<string>AIzaSyBj06lVqTWduFNM_0nRKkIec6y73xBsJ24</string>
	<key>GCM_SENDER_ID</key>
	<string>592394543548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnastasiyaDumiak.-day</string>
	<key>PROJECT_ID</key>
	<string>day-233cd</string>
	<key>STORAGE_BUCKET</key>
	<string>day-233cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:592394543548:ios:17257e3fe08b3633</string>
	<key>DATABASE_URL</key>
	<string>https://day-233cd.firebaseio.com</string>
</dict>
</plist>